@import "tailwindcss";

@theme {
  --color-red: #d72c32;
  --color-off-black: #231f20;
  --color-default: #333333;
  --color-gs-grey: #666666;
  --color-light-grey: #e3e3e3;
  --color-off-white: #f7f7f7;
  --color-light-purple: #fdf7fc;
  --color-body: #333333;
  --color-red: #d72c32;
  --color-purple: #b86aab;
}
